@mixin size($width: 100px, $height: $width) {
  width: $width;
  height: $height;
}
@mixin absoluteCenter($direction: "left") {
  position: absolute;
  @if $direction == "left" {
    left: 50%;
    transform: translateX(-50%);
  }
  @if $direction == "top" {
    top: 50%;
    transform: translateY(-50%);
  }
  @if $direction == "both" {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@mixin bg($color: red) {
  background-color: $color;
}
@mixin absoluteFull {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@mixin maxWidth($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}
@mixin minWidth($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
@mixin flexbox(
  $align-item: stretch,
  $justify-content: flex-start,
  $direction: row,
  $flex: flex,
  $wrap: nowrap
) {
  display: $flex;
  align-items: $align-item;
  justify-content: $justify-content;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
@mixin hideScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
@mixin textClamp($rows: 1, $size: 100%) {
  display: -webkit-box;
  -webkit-line-clamp: $rows;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: $size;
  max-width: $size;
  white-space: pre-wrap;
  word-break: break-word;
}
@mixin hoverEffect($itemClass, $contentClass, $transform: "true") {
  #{$itemClass} {
    position: relative;
    z-index: 1;
    & > * {
      transition: transform 0.25s linear;
      will-change: $transform;
    }
    #{$contentClass} {
      @include absoluteFull();
      @include flexbox(center, center, column);
      background: linear-gradient(
        to bottom,
        rgba($primary-color, 0.8),
        rgba($secondary-color, 0.8)
      );
      opacity: 0;
      visibility: hidden;
      z-index: 2;
    }
    @if $transform == "true" {
      &::after {
        content: "";
        @include absoluteFull();
        @include bg($third-color);
        z-index: -1;
      }
    }
    &:hover {
      #{$contentClass} {
        opacity: 1;
        visibility: visible;
      }
      @if $transform == "true" {
        & > * {
          transform: translate(-1rem, -1rem);
        }
      }
    }
  }
}
@mixin touchSlider($width: 80%, $gap: 2.5rem, $padding: 1rem) {
  display: grid !important;
  grid-auto-columns: $width;
  grid-auto-flow: column;
  grid-template-columns: unset;
  column-gap: $gap;
  overflow-x: auto;
  @include hideScroll;
  scroll-snap-type: x mandatory;
  padding: $padding;
  @include hideScroll;
  & > * {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    width: auto;
  }
}
