section.about
	.container 
		+blockBox({
      caption: "What we do", 
      heading: "Story about us", 
      desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis, delectus at quia? Magni laborum aliquid consequuntur explicabo eos quo deserunt dicta."
    })
		.about-list
			+aboutItem({
        src: "../../images/img-about1.png",
        icon: "fa fa-users",
        title: "Super team"
      })
			+aboutItem({
        src: "../../images/img-about2.png",
        icon: "fa	fa-heart",
        title: "Enthusiasm"
      })
			+aboutItem({
        src: "../../images/img-about3.png",
        icon: "fa fa-balance-scale",
        title: "Responsibility"
      })