section.number 
  .container
    .number-list
      +numberItem({
        count: 42, 
        text: "Web design project"
      })
      +numberItem({
        count: 123, 
        text: "Clients"
      })
      +numberItem({
        count: 15, 
        text: "Award winner"
      })
      +numberItem({
        count: 99, 
        text: "Cup of coffee"
      })
      +numberItem({
        count: 24, 
        text: "Member"
      })
