section.service
  .container 
    +blockBox({
      caption: "We work with", 
      heading: "Amazing services"
    })
    .service-container
      .service-list
        +serviceItem({
          src: "../../images/img-service-icon1.png", 
          title: "Photography", 
          desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis."
        })
        +serviceItem({
          src: "../../images/img-service-icon2.png", 
          title: "Web design", 
          desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis."
        })
        +serviceItem({
          src: "../../images/img-service-icon3.png", 
          title: "Creativity", 
          desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis."
        })
      .service-list 
        +serviceItem({
          src: "../../images/img-service-icon4.png", 
          title: "SEO", 
          desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis."
        })
        +serviceItem({
          src: "../../images/img-service-icon5.png", 
          title: "CSS/HTML", 
          desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis."
        })
        +serviceItem({
          src: "../../images/img-service-icon6.png", 
          title: "Digital", 
          desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis."
        })
      